{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="fa" dir="rtl">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   {% comment %} meta tag for Seo {% endcomment %}
   <meta name="keywords" content="رزومه, برنامه نویس, برنامه نویسی, توسعه دهنده وب, پروژه, پروژه های من, فرانت اند, بک اند, وبلاگ, وبلاگ برنامه نویسی, رادمان منتظر, رادمان">
   <meta name="description" content="رزومه و نمونه کار های رادمان منتظر, برنامه نویس و توسعه دهنده وب, عاشق دنیای تکنولوژی">
   <meta name="author" content="Radman Montazer">
   <meta name="robots" content="index, follow">

   <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "رادمان منتظر",
        "url": "https://radmanmontazer.ir",
        "sameAs": [
          "https://github.com/radman1007",
          "https://www.linkedin.com/in/radman"
        ],
        "jobTitle": "برنامه نویس و توسعه‌دهنده وب",
      }
   </script>

   <!-- Site Title -->
   <title>{% block title %}{% endblock title %}</title>

   <!-- Place favicon.ico in the root directory -->
   <link rel="apple-touch-icon" href="{% static "assets/img/favicon.png" %}">
   <link rel="shortcut icon" type="image/png" href="{% static "assets/img/favicon.png" %}">

   <!-- CSS here -->
   <link rel="stylesheet" href="{% static "assets/css/animate.min.css" %}">
   <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}">
   <link rel="stylesheet" href="{% static "assets/css/font-awesome-pro.min.css" %}">
   <link rel="stylesheet" href="{% static "assets/css/flaticon_gerold.css" %}">
   <link rel="stylesheet" href="{% static "assets/css/nice-select.css" %}">
   <link rel="stylesheet" href="{% static "assets/css/backToTop.css" %}">
   <link rel="stylesheet" href="{% static "assets/css/owl.carousel.min.css" %}">
   <link rel="stylesheet" href="{% static "assets/css/swiper.min.css" %}">
   <link rel="stylesheet" href="{% static "assets/css/odometer-theme-default.css" %}">
   <link rel="stylesheet" href="{% static "assets/css/magnific-popup.css" %}">
   <link rel="stylesheet" href="{% static "assets/css/main.css" %}">
   <link rel="stylesheet" href="{% static "assets/css/light-mode.css" %}">
   <link rel="stylesheet" href="{% static "assets/css/responsive.css" %}">
</head>

<body>
   <!-- Preloader Area Start -->
   <div class="preloader">
      <svg viewbox="0 0 1000 1000" preserveaspectratio="none">
         <path id="preloaderSvg" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z"></path>
      </svg>

      <div class="preloader-heading">
         <div class="load-text">
            <span>ب</span>
            <span>ا</span>
            <span>ر</span>
            <span>گ</span>
            <span>ذ</span>
            <span>ا</span>
            <span>ر</span>
            <span>ی</span>

         </div>
      </div>
   </div>
   <!-- Preloader Area End -->

   <!-- start: Back To Top -->
   <div class="progress-wrap" id="scrollUp">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewbox="-1 -1 102 102">
         <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
      </svg>
   </div>
   <!-- end: Back To Top -->

   <!-- HEADER START -->
   <header class="tj-header-area header-absolute">
      <div class="container">
         <div class="row">
            <div class="col-12 d-flex flex-wrap align-items-center">
               <div class="logo-box">
                  <a href="index.html">
                     <img src="{% static "assets/img/logo/r.jpg" %}" alt="">
                  </a>
               </div>

               <div class="header-info-list d-none d-md-inline-block">
                  <ul class="ul-reset">
                     <li><a href="mailto:mail@gerolddesign.com">Gerold@gmail.com</a></li>
                  </ul>
               </div>
               <div class="header-menu">
                  <nav>
                     <ul>
                        <li><a href="#services-section">خدمات</a></li>
                        <li><a href="#works-section">نمونه کار</a></li>
                        <li><a href="#resume-section">رزومه</a></li>
                        <li><a href="#skills-section">مهارت ها</a></li>
                        <li><a href="#testimonials-section">گواهینامه ها</a></li>
                        <li><a href="#contact-section">تماس با ما</a></li>
                     </ul>
                  </nav>
               </div>
               <div class="header-button">
                  <a href="#" class="btn tj-btn-primary">تماس با من</a>
               </div>
               <div class="menu-bar d-lg-none">
                  <button>
                     <span></span>
                     <span></span>
                     <span></span>
                     <span></span>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </header>
   <header class="tj-header-area header-2 header-sticky sticky-out">
      <div class="container">
         <div class="row">
            <div class="col-12 d-flex flex-wrap align-items-center">
               <div class="logo-box">
                  <a href="index.html">
                     <img src="{% static "assets/img/logo/r.jpg" %}" alt="">
                  </a>
               </div>

               <div class="header-info-list d-none d-md-inline-block">
                  <ul class="ul-reset">
                     <li><a href="mailto:mail@gerolddesign.com">Gerold@gmail.com</a></li>
                  </ul>
               </div>

               <div class="header-menu">
                  <nav>
                     <ul>
                        <li><a href="#services-section">خدمات</a></li>
                        <li><a href="#works-section">نمونه کار</a></li>
                        <li><a href="#resume-section">رزومه</a></li>
                        <li><a href="#skills-section">مهارت ها</a></li>
                        <li><a href="#testimonials-section">گواهینامه ها</a></li>
                        <li><a href="#contact-section">تماس با ما</a></li>
                     </ul>
                  </nav>
               </div>

               <div class="header-button">
                  <a href="#" class="btn tj-btn-primary">تماس با من</a>
               </div>

               <div class="menu-bar d-lg-none">
                  <button>
                     <span></span>
                     <span></span>
                     <span></span>
                     <span></span>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </header>
   <!-- HEADER END -->

   {% block body %}{% endblock body %}

   <!-- FOOTER AREA START -->
   <footer class="tj-footer-area">
      <div class="container">
         <div class="row">
            <div class="col-md-12 text-center">
               <div class="footer-logo-box">
                  <a href="#"><img src="{% static "assets/img/logo/r.jpg" %}" alt=""></a>
               </div>
               <div class="footer-menu">
                  <nav>
                     <ul>
                        <li><a href="#services-section">خدمات</a></li>
                        <li><a href="#works-section">نمونه کار</a></li>
                        <li><a href="#resume-section">رزومه</a></li>
                        <li><a href="#skills-section">مهارت ها</a></li>
                        <li><a href="#testimonials-section">گواهینامه ها</a></li>
                        <li><a href="#contact-section">تماس با ما</a></li>
                     </ul>
                  </nav>
               </div>
               <div class="copy-text">
                  <p>&copy; تمامی حقوق این سایت  <a href="#" target="_blank">محفوظ میباشد</a></p>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <!-- FOOTER AREA END -->

   <!-- CSS here -->
   <script src="{% static "assets/js/jquery.min.js" %}"></script>
   <script src="{% static "assets/js/bootstrap.bundle.min.js" %}"></script>
   <script src="{% static "assets/js/nice-select.min.js" %}"></script>
   <script src="{% static "assets/js/backToTop.js" %}"></script>
   <script src="{% static "assets/js/smooth-scroll.js" %}"></script>
   <script src="{% static "assets/js/appear.min.js" %}"></script>
   <script src="{% static "assets/js/wow.min.js" %}"></script>
   <script src="{% static "assets/js/gsap.min.js" %}"></script>
   <script src="{% static "assets/js/one-page-nav.js" %}"></script>
   <script src="{% static "assets/js/lightcase.js" %}"></script>
   <script src="{% static "assets/js/owl.carousel.min.js" %}"></script>
   <script src="{% static "assets/js/swiper.min.js" %}"></script>
   <script src="{% static "assets/js/imagesloaded-pkgd.js" %}"></script>
   <script src="{% static "assets/js/isotope.pkgd.min.js" %}"></script>
   <script src="{% static "assets/js/odometer.min.js" %}"></script>
   <script src="{% static "assets/js/magnific-popup.js" %}"></script>
   <script src="{% static "assets/js/validate.min.js" %}"></script>
   <script src="{% static "assets/js/main.js" %}"></script>
</body>

</html>